* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.groeneweidebanner {
  text-align: center;
  width: 50%;
}
header {
  color: white;
  top: -180px;
  font-size: 30px;
  position: relative;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 600px;
  top: -160px;
  position: relative;
  margin: 20px auto;
  color: black;
  padding: 1px;
}

legend {
  text-align: center;
  width: auto;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 3px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 15px auto;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #00796b;
  color: #fff;
  cursor: pointer;
  margin: 15px auto;
}

input[type="submit"]:hover {
  transition: 1s;
  background-color: #fca311;
}

.title /* De Groene Weide titel */ {
  font-size: 30px;
  text-align: center;
  position: relative;
  color: #fca311;
  right: 300px;
  z-index: 1;
}

.bg-img {
  background-image: url("imagesGroeneWeide/boerderijphoto.jpeg");
  min-height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  transition: 0.5s;
  color: #fca311;
}
ul {
  list-style-type: none;
  display: flex;
}
body {
  overflow-x: hidden;
}

.logoimage {
  position: relative;
  top: 0px;
  align-items: center;
  right: 0px;
}

.navbar1 {
  background-color: transparent;
  font-size: 25px;
  position: absolute;
  top: 35px;
  right: 10px;
}

.navbar1 li {
  margin-right: 20px;
}

.bar {
  height: 100px;
  width: 100%;
  background-color: #00796b;
}

.contactons {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.form {
  width: 50%;
  top: -10px;
  position: relative;
  left: -360px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

input,
textarea {
  width: calc(100% - 12px); /* Adjusted for padding */
  border-radius: 0.3rem;
  background-color: white;
  color: black;
  padding: 6px;
  margin: 6px 0px;
  outline: none;
  border: none;
  transition: right 0.5s ease;
  resize: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: black;
  resize: none;
}

#Btn {
  width: 100px;
  padding: 6px;
  position: inherit;
  border: none;
  right: 250px;
  font-weight: bold;
  color: #fca311;
  background-color: #fca311;
  cursor: pointer;
  border-radius: 0.8rem;
}

.hebjevraag,
.ContactEmail {
  margin-left: 70px;
}

.google-map {
  position: absolute;
  left: 800px;
  top: 330px;
}
