* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

.title /* De Groene Weide titel */ {
  font-size: 30px;
  text-align: center;
  position: relative;
  color: #fca311;
  right: 300px;
  z-index: 1;
}

.bg-img {
  background-image: url("imagesGroeneWeide/boerderijphoto.jpeg");
  min-height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

ul {
  list-style-type: none;
  left: 900px;
  margin: 10px;
  padding: 0px;
  height: 60px;
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  text-align: center;
  background-color: #439a86;
 display: flex;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fca311;
  text-align: center;
  font-size: 30px;
  padding: 14px 45px;
  text-decoration: none;
  transition: background-color 1s ease-out;
}
li a:hover {
  background-color: #50c878;
}
